/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-root{
    display: flex;
    flex-direction: column;
    height: 100vh;    
}

.mat-button.mat-accent,
.mat-icon-button.mat-accent,
.mat-stroked-button.mat-accent{
    color: rgba(0, 238, 79, 0.999);
}

